<p> <%= @post.user.username %> has created a post in <em><strong>Family Ties</strong></em>, our <em>Facebook</em>-like social media for members of St. Paul's. Anyone may read all posts, but only those who are registered and logged in may create posts or make comments. <%= link_to "Click here to see this post", @url %>
</p>
<p class="mt-3">This message is generated automatically when a post has been created for parishioners. </p>
