<div class="container">
  <div class="col col-sm-6 offset-sm-3 col-md-4 offset-md-4">
    <div class="text-center">
      <h1> Your payment succeeded. Thank you very much! </h1>
      <h3>And please remember...</h3>
      <p>You are the church. Express your needs and desires to Fr. Tom or any other member of the vestry, our leadership team.</p>
      <p>Want to get more involved? Talk with us about Bible study and other small group activities. God's Gardeners, the Altar
         Guild, the office staff, communications team, gift shop and Farmers' Market are always welcoming new volunteers. 
         Stewardship isn't just about treasure; it also involves time and talent. </p>
      <p>Want to <%= link_to "make your donation recurring?" , new_pledge_path %>
      </p>
    </div>
  </div>
</div>
