<div class="row mt-5">
  <div class="col-md-8 offset-md-2 col-sm-12">
    <h1>Automate your donations</h1>

    <p>There are a couple of ways for you to simplify making payment to St. Paul's other than the offering plate. The
      simplest&mdash;and cheapest!&mdash;way is to have your bank transfer money from your account to the church's account on a schedule you set.</p>
    <p>Most banks offer this service without charge, and it's easy to set up and very safe and secure. Just go on line
      with your bank and search for "bill pay" or words to that effect. You could do this in person, too.</p>
    <p>Paying on line with a <b>credit card</b> or <b>debit card</b> is easy to set up, too. It also is safe and secure.
      St. Paul's absorbs the transaction fees, unless you wish to add 3.5%.
      <%= render 'form' %>
  </div>
</div>

