<p>
          After you are signed in (your user name is <%= @user.username %> and your password is Vestry2016), please migrate to "Edit account" and change the password to something you will remember, minimum eight characters. The most secure passwords have numbers and both upper and lower case letters.</p>
          <p>
          There is a special page for <strong>vestry members only,</strong> and it is accessed by putting a "/vnotes" after the .org in the address line. What's on that page explains its purpose and tells how to use it. I'll work on making a link to the page from the homepage, visible only to vestry members.</p>