<div class="ax-center">
  <%= image_tag(@pathways.image, width: "500" ) %> <br>
    <p>
      <%= link_to " Click here to read (or download and print) your copy of the latest edition of the St. Paul
    newsletter, Pathways." , @pathways.link %>
    </p>
</div>