

<p>Hi <%= diaspora.first_name %>,</p> 
<div class="mt20"></div>
<p>How’s your Summer been?</p>
<div class="mt20"></div>
<p>Well, we are well into Summer and we here at <em>St. Paul’s</em> would love to 
hear how our brothers and sisters in Christ north of us are doing.  
Your <em>Pathway</em> staff would like to once again publish your Summer 
highlights.  Please send us any significant news or anecdotes that 
have made their mark.  Family gatherings, inspirational experiences, 
travels, pet projects...you've got the idea. Send a photo or two, if you can.</p>
<div class="mt20"></div>
<p>You can respond via this email message, and I’ll get your news into 
our next issue, some time in September. </p>
<div class="mt20"></div>
<p>Meanwhile know that although we may be physically separate until your 
return, you remain close in our hearts and in our prayers.</p>
<div class="mt20"></div>
<p>Til then,</p>
<div class="mt30"></div>
<p><em>Ken </em></p>