<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>January 2019 Pathway</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class='wrap'>
      <div class="image">
        <%= link_to cl_image_tag("Jan2019Com_zwvih3.jpg", width: "550"), @url %>
      </div>
            <p>Click on the image to read or download your copy of this latest edition of the St. Paul Pathway newsletter.</p>
    </div>
  </body>
</html>
