<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>January 2022 Pathway</title>
  </head>
  <body>
        <%= link_to cl_image_tag("Jan2022Sm_v8efsy.jpg", width: "650"), @url%>
      </div>
            <p>Click on the image to read (or download and print) your copy of the latest edition of the St. Paul newsletter, <em>Pathways.</em></p>
    </div>
  </body>
</html>