<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Lenten</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class='wrap'>
      <div class="image">
        <%=cl_image_tag("Way_of_Love_Primary_Graphic_kllhuk.jpg", :width=>550, :crop=>"scale")%>
      </div>
      <div>
        <p>Learn life practices that will draw you close to Jesus, a method devised by Presiding Bishop Michael Curry.</p>
        <p>Below is a video in which the bishop describes his methods.</p>
        <p>We will meet in the library at 6:30 p.m. (not 6, as previously reported) on Wednesdays beginning Feb. 19, or between Sunday services. All are welcome! Invite a friend!</p>
      </div>      
      <div class="center">
         <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/jroyof2vje" width="500" height="350"></iframe>
      </div>
    </div>
  </body>
</html>
