<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pray</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class='wrap'>
      <div class="image">
        <%= link_to cl_image_tag("PrayEmail_qkvds1.jpg"), @url %>
      </div>

        
            <p>Click on the image to sign up for an hour of prayer. Find a time slot that suits you, and enter your name. Thanks very much!</p>

            <div class="signature">
              <%= cl_image_tag("FatherBillSig_veptsc.png") %>
            </div>
                
    </div>

  </body>
</html>