<h2>Greetings</h2>
<p>I just learned that two of our parishioners have volunteered to help others learn to speak, read and write English. I wouldn't have known this had the organization not asked for a recommendation, which leads me to this month's <em>Jubilee!</em> goal.</p>
<p>We want to celebrate all the good works our folks do, whether in Naples or away for the summer. This Sunday we will bring these works to the altar to offer them up to God.</p>
<p>I would very much like to include your grace-filled acts of love!</p>
<p>Please take a moment and go to our <%= link_to 'website', @url %> and enter a phrase or sentence to tell us what you are doing to be the Light of Christ in the world. Just give us a few words. All responses are anonymous.</p>
<p>May God bless your efforts,</p>
<div class="mt30"></div>
<%= cl_image_tag("FatherBillSig_veptsc.png", class: "floatright") %>
<div class="mt-5"></div>
<%= cl_image_tag("St_Paul_Blue_Button_Logo_ksyj1x.jpg", width: "35%") %>
