<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Summer 2020 Pathway</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class='wrap'>
      <div class="image">
        <%= link_to cl_image_tag("summer_r8otjd.jpg", width: "550"), @url%>
      </div>
            <p>Click on the image to read or download your copy of the latest edition of the St. Paul newsletter, <em>Pathway.</em></p>
    </div>
  </body>
</html>
