<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Mid-Summer 2020 Pathway</title>
  </head>
  <body>
        <%= link_to cl_image_tag("august2021_mlgfxt.jpg", width: "650"), @url%>
      </div>
            <p>Click on the image to read or download your copy of the latest edition of the St. Paul newsletter, <em>Pathways.</em></p>
    </div>
  </body>
</html>
