
    


<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Thanksgivings</title>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
    <div class= "wrap">
      <h2>Even in this time of chaos and fear, we have much to be thankful for.</h2>
        <div class="image">
          <%= link_to cl_image_tag("giveThnaks_ry12pt.png", width: "550"), @url %>
        </div>
        <div>
          <p>Reflect a bit on your gratitude and thankfulness, then click on the image to go to our website and write a word or several, for the benefit of your St. Paul's family. We will be showing these pieces of graditude during the Thanksgiving worship service, 11 a.m. <%link_to "on YouTube (click here)", "https://www.youtube.com/channel/UCdc6lx-U_N1X26tkZ7TQ8-A" %></p>
        </div>
    </div>
  </body>
</html>
