
    <div>
      <h2>Love at St. Paul's makes national news!</h2>


      <p><%= link_to "Check out this short video. It will make you smile.", "https://youtu.be/kItv6D7A2H8" %>  We'll have more about the wedding in the upcoming <em>Pathway</em></p>
      <p>If you can't join us in person for Sunday worship, please tune in to our YouTube channel to participate virtually. 
      <%= link_to "Click here", "https://www.youtube.com/channel/UCdc6lx-U_N1X26tkZ7TQ8-A" %>

      <p>And please join us for coffee, from the comfort of your own home, at 10:30 a.m. Sundays, after the service. <%= link_to "by clicking here.", "https://us02web.zoom.us/j/84902845436?pwd=bC95Y0l6WEQxVXZyb0I1NGNSYlNQUT09" %>

      
       
      </div>

