<div id="<%= dom_id story_assignment %>">
  <p>
    <strong>Story idea:</strong>
    <%= story_assignment.story_idea_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= story_assignment.assigned_to %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= story_assignment.status %>
  </p>

</div>
