<h1>Editing story assignment</h1>

<%= render "form", story_assignment: @story_assignment %>

<br>

<div>
  <%= link_to "Show this story assignment", @story_assignment %> |
  <%= link_to "Back to story assignments", story_assignments_path %>
</div>
