<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Todd Concert March 15, 2021</title>
  </head>
  <body>
    <div class='wrap'>
      <p><b><em>Thank you!</em></b></p>


<p> Your <%= pluralize@ticket.quantity, 'ticket' %> will be at the door in the name of <%= @ticket.first_name.titleize %> <%= @ticket.last_name.titleize %>. Doors open at 6:30 p.m. Enjoy the show.</p>
<p>If you ordered tickets to see the show from your home device, watch you inbox for an email with the link and password to stream the show live.</p>

<p>Mark your calendar: Paul Todd & Paul Todd Jr., March 15, 2021, 7 p.m. at St. Paul's Church, 3901 Davis Blvd., Naples, FL Phone (239) 643-0197</p>
<div class="mt-5"></div>
<h3>We are the Episcopal branch of the Jesus movement</h3>
    </div>
  </body>
</html>
