<h1>Annual Meeting of St. Paul’s Episcopal Church, Naples, FL</h1>
<p class="center-text"><strong>January 26, 2020</strong><br>
 
Call to Order<br>

Opening Prayer<br>

Approval of minutes from previous meeting<br>

Amendment of bylaws<br>

Presentation of Vestry nominees<br>

            First Ballot<br>

Rector’s Report <br>

Other Reports <br>

            Ballot Report<br>

            Second Ballot as needed<br>

Adjournment </p>


<h2>Rector’s Report</h2>

<p>Not long ago a parishioner said to me, “Well you’ve been here a year now, you’ve had a chance to get to know St. Paul’s.  What’s your plan?”<br>

That was a good question, and one that is both easy and difficult to answer.  I can, and will tell you my three goals for 2020, but before I do, I want to tell you my assessment of St. Paul’s.<br>

I arrived at this fine parish in November 2018.  Last year at this time, at the annual meeting, I was still getting my “sea legs” around St. Paul’s.  We were in the height of what we warmly call, “season”.  I began to develop ideas of what life and ministry would and should be like here.  But as my vision became clearer, we eased out of “season.”<br>

Now, before I arrived, I logically knew and understood that some 50% or so of our members are away for many months of the year.  But it took me living through “off season” before I understood its dynamics here at St. Paul’s.<br>

I have learned we have two congregations.  This is not uncommon in Episcopal churches as many parishes have distinctly different groups of people who attend the early service and those who attend the late service.  Our congregation, though, is delineated more between “season” and “off season”.   This provides distinct challenges and opportunities in the practice of ministry and the life of our parish.  So my plan, as a parishioner recently asked me to articulate, must be nimble and nuanced.<br>

With that in mind, I offer you three goals for St. Paul’s in 2020.<br>

•  Develop and implement our efforts in planned giving.<br>
•  Engage in Invite Welcome Connect<br>
•  Implement our strategic plan.</p>

<p class="text-center"><strong>Develop and implement our efforts in planned giving.</strong></p>
<p>	St. Paul’s has a wonderful history.  We also have a healthy present.  We all hope for a vibrant future. In the Book of Common Prayer, on page 445, these words are written:</p>

	<p class="poem">The Minister of the Congregation is directed to instruct the people, from time to time, about the duty of Christian parents to make prudent provision for the well-being of their families, and of all persons to make wills, while they are in health, arranging for the disposal of their temporal goods, not neglecting, if they are able, to leave bequests for religious and charitable uses. </p>

<p>The future of St. Paul’s depends on our actions today.  That includes financial decisions and seeking opportunities to continue to fund mission and ministry at St. Paul’s long after we have departed.<br>

It is prudent and, as the Prayer Book makes clear, incumbent upon me, to lead our efforts to make arrangements for our families and our community in the future.  To be perfectly blunt, if you do not prepare a will, the state has one for you, and it does not reflect your priorities, hopes and aspirations.<br>

Recently I received news that Richard and Nora Broszeit have enrolled in a charitable gift annuity that benefits St. Paul’s.  They have given me permission to announce this not as a matter of pride but as a humble witness to others that such opportunities exist to benefit our beloved parish after we have departed. Richard, Nora, we thank you.  Many of you may not know of the ways that you can make similar provisions.  Our Planned Giving team will provide you with information, counsel and encouragement in the coming year.</p>

<p class="text-center"> <strong>Engage in Invite Welcome Connect</strong></p>
<p>In 2018, Mary Parmer of the Beecken Center in the School of Theology of the University of the South in  Sewanee, TN, published a book called Invite Welcome Connect.  It has been engaged and endorsed by many folks across the Episcopal Church.  She was invited to speak to our Clergy Conference this fall and she, and her work, have the full endorsement of Michael Curry, our Presiding Bishop.  In fact, he wrote to Foreword to the book.<br>

The book, she is quick to point out, is not a program but a way of developing a culture of a parish.  It is, in short, a collection of best practices.  It leads a parish to assess, discern, improve and implement ways to invite people to church, to welcome when they arrive, and to connect them to the full life of the parish.<br>

We do a very good job of these things at St  Paul’s, in fact, better than most in my assessment.  However, we can always do better by reviewing efforts, making improvements where needed, and trying new ideas as we discover them.<br>

I have already put together a small group to study the insights of Ms. Parmer’s work and to review how we invite, welcome and connect others to our fine parish.  This work is important and can have a significant impact on our future.  Because I believe it needs to be ongoing and in depth, I have initially asked only those who are with us year-round to begin our efforts.  We will start our work within the next week and continue through the summer.  You will be hearing more about this as we seek to build St. Paul’s as a deeply inviting, and welcoming place  where we can be connected with each other and with our Lord.</p>

<p class="text-center"> <strong>Implement our strategic plan.</strong></p>
<p>Before I arrived at St. Paul’s a strategic plan was developed for our future.  It also served as a report to present the new Rector with insights and ideas about St. Paul’s.  I read it with great interests but purposely set it aside until I could discern its value and viability.<br>

Knowing more about St. Paul’s now, and knowing more about the integrity and dedication of those who developed and wrote the plan, I can say it is wide reaching, yet focused, and worthy of implementation.  In the coming months you will hear about aspects of the plan and efforts to make the plan a reality.  The five primary goals of the plan are:<br>

	•  Grow our membership<br>
	•  Strengthen our community<br>
	•  Enhance our spiritual vitality<br>
	•  Increase our fellowship opportunities<br>
	•  Exercise stewardship of God’s bounty<br>

These are valuable and vital goals for us and my previous two goals for 2020 fit directly into implementing our strategic plan.  In 2020, we will mine the wisdom and vision of our strategic plan and set out specific actions to grow, strengthen, enhance, increase and exercise our lives and ministries at St. Paul’s.</p>


<h2>Narrative Budget of 2020 Proposed Spending of St. Paul’s, Naples</h2>

<p>A narrative budget is not a tool for accounting but a tool for communication.  It is a way to highlight the impact of supporting St. Paul’s.  Fifty areas of spending were considered and how they fund various parts of our lives together.  Some spending impacts every area of our lives together, some doesn’t.  For instance, utility bills are part of every area of ministry while the line item of Adult Christian Formation has its major impact on the areas of Pastoral Care, Christian Education and Fellowship.  Below is explanation of the impact your support of St. Paul’s has in our lives and in the lives of others.<br>
<em>(Note: these numbers were revised Feb. 4, 2020).</em><br>

<strong>Administration:  $44,388 &nbsp; &nbsp; &nbsp; 13.3% of budget</strong> <br>
	Ensures smooth communications and efficient organization of our life together.  We have a tight, efficient staff that works well together and with our parishioners.  Our professional staff maintains an organized office, facilitates timely flow of information, oversees our daily financial operations as well as publishing our weekly bulletins, emailing’s and other communications.<br>

<strong>Pastoral Care:  $44,498 &nbsp; &nbsp; &nbsp; 13.3% of budget</strong> <br>
	Reaching out to those in need, sickness, turmoil or crisis.  All ministry is based on relationships and St. Paul’s is held together by relationships of friendship and spiritual care.  We have trained volunteers to increase our visits to shut-ins and those in the hospital.  Volunteers help not just patients but also patients’ families in providing support and relief to caregivers.  We regularly visit shut-ins, delivering the Sacraments to them.   Pastoral counseling by our clergy is always available and is offered in both formal and informal settings. <br> 

<strong>Worship:  $45,845		 &nbsp; &nbsp; &nbsp; 		13.7% of budget</strong> <br> 
	The heart of who we are and what we do.  We center our lives around common prayer.  Our liturgy is known for its simple, majestic beauty that gives us language and forms to offer thanksgiving for our blessings while providing comfort and support in times of turmoil.  With no less than three services a week, at different times and in different forms, we offer various opportunities for our people to unite in the worship of God.  Our average Sunday attendance (ASA) for 2019 was 160 people.<br> 

<strong>Christian Education:  $46,418		 &nbsp; &nbsp; &nbsp; 		13.9% of budget</strong> <br>
	Provides formation to parishioners.  This takes place in the midst of coffee hour, worship, fellowship opportunities as well as private conversations and formal classes.   Currently we offer weekly Bible studies on Sunday mornings and Wednesday nights. <br>

<strong>Episcopal Church:  $53,281 	 &nbsp; &nbsp; &nbsp; 	 		16.0% of budget </strong><br>
	Supports the ministries of our diocese and beyond.  We are not a congregational church but one connected to parishes around the diocese, nation and the world.  Our diocese offers numerous ministries and programs, as well as grants and resources, for our growth and success. <br>

<strong>Fellowship:  $45,245		 &nbsp; &nbsp; &nbsp; 			13.6% of budget</strong><br>
	Aids in forming Christian relationships of nurture and support.  St. Paul’s is a warm and welcoming community known for its fellowship.  While fellowship occurs whenever we gather in Christ’ name, various highlights include the Coffee Hours, dinners, ECW, and Trivia Night.<br>

<strong>Outreach:  $53,864		 &nbsp; &nbsp; &nbsp; 				16.1% of budget</strong><br>
	Helps us to better be the body of Christ one earth today.  Outreach touches nearly every aspect of our lives together.  Our most extensive outreach is our Farmer’s Market welcoming literally thousands into our midst, affording us the chance to present ourselves to the larger community.</p>

<h2>Senior Warden’s Report</h2>

<p>I want to express my gratitude and appreciation to the three rectors (Frs. Tara, Bill and Tom) that each have appointed me Senior Warden.  I have enjoyed working with all of you and I would like to express my thanks to all of you who have donated your time, talent and treasure to ensure the success of St. Paul’s Church.  A special thanks to all the wonderful volunteers who accepted my numerous requests for help and assistance over the years.<br>

Senior Warden<br>
Richard Breithaupt</p>


<h2>Stewardship</h2>
<p>Our Stewardship theme for the year was “Shining Our Light”.  Inspiring reflections were published in the Weekly Update during the fall campaign, culminating on Consecration Sunday, when we offered our pledges of time, talent, and treasure for the support of St. Paul’s.  We always welcome additional pledges that will enable us to continue God’s work through our ministries.  Committee members were:  Don Anderson, Richard Breithaupt, Connie Cunningham, and Fr. Tom (ex officio).  Janet Ross, our comptroller, assisted us.<br> 

Respectfully submitted,<br>
Linda Connelly, Stewardship Chair<p>


<h2>Report on Buildings and Grounds</h2>

<p>The year was a good year for St. Paul’s Campus.  Thanks to the determined efforts of the God’s Gardeners the Campus is neat and tidy.  We do suffer some significant wear and tear from the operation of the Farmers’ Market during season, but once the Market ends things are quickly restored by this dedicated group of men and woman.
<br>
During the year, we replaced the Compressor for the Air Conditioner in the Church and the Stoves and Refrigerators in the kitchen.  At the Rectory we replaced a water heater, insulated the attic and upgraded the electrical distribution panel. 
<br>
To assure that we are being frugal with our limited funds, our Strategic Planning Committee assembles all capital projects such as:  Replace signage  on Davis Blvd;  Enhance lighting in Sanctuary and over Altar; Install Antenna in the Sanctuary  to assist hearing impaired; Install Shatter  Proof Windows in Serson Hall and in the Rectory; Resurface Parking Areas and  other projects as they are identified. The Committee will determine which projects best further St. Paul’s Mission and recommend such to the Vestry as funds become available.
<br>
During the year we created the position of SEXTON to oversee and maintain all equipment and mechanics and facilities.  The Sexton works very closely with God’s Gardeners.
<br>
We thank all who have cooperated and worked hard in making 2019 a banner year and look forward to an even better 2020.
<br>
Respectfully, Don Anderson, Junior Warden, Dick Emerson and Lee Perry, Vestry Persons</p>


<h2>Christian Formation</h2>
<p>
St. Paul’s offers two children’s formation programs.  Our Episcopal syllabus is from the 1993 Virginia Theological Seminary School of Education.  Our morning Sunday school has  elementary boys and girls who attend weekly  and others who come while visiting their grandparents.  Our second formation program is offered on Sundays at 5:30 p.m. for children from The Holy Name of Jesus Episcopal community of St. Paul’s Church.  Children in the elementary and middle school grades attend Sunday school with Charlene Connolly.  High school and older students meet with Tom Connolly in the library of Serson Hall for lectionary study.  All of the children are brought together to perform in St. Paul’s annual Christmas pageant.</p>                                                                
<p>Fr. Tom Thoeni has led adult formation on St. Luke and currently St. Matthew.  During Lent Deacon Mary Abrams will lead a study called "Way of Love" by our Presiding Bishop Michael Curry.  The study will be offered on Wednesday evenings and Sunday mornings.</p>
<p>Charlene Connolly</p>  

<h2>Farmers’ Market</h2>
<p>
We are now into our 13th season of our Saturday’s Farmers’ Market. The Market is probably the most significant outreach effort of St. Paul's each year. We interact with the community and generate over $40,000 in revenue each season.  Peter Lund, assisted by the St. Paul’s office staff, leads the Market with up to 80 vendors participating on any given Saturday. Peter works all week on Market-related activities especially on Saturdays--arriving well before dawn--to be sure that the Market runs smoothly.  Also playing key roles are Dick Emerson and Lee Perry, who handle the parking of some 2000 vehicles during peak times, with their band of volunteer “parkers”. In addition, St. Paul’s parishioners greet folks and reach out to those interested in learning more about St. Paul's.  Ken Eastlack oversees the “Hospitality Circle” in the center of our courtyard. He and others offer fellowship, coffee and grilled hot dogs to attendees, vendors, and volunteers. The Church is open to the public during the Market and we have “Docents” there to answer questions and give tours. 
We also have a great Gift Shop and Boutique which sell gently used merchandise. The Gift Shop is run by Susan Larson and Marilyn Perry. The Boutique is run by Donna Nidds. Both the Gift Shop and Boutique are supported by several wonderful volunteers.</p>  
<p>Peter Lund, Farmers’ Market Manager</p>

<h2>Communications Report</h2>
<p>I'd love to be able to say your communications team makes sure no parishioner is unaware of activities and opportunities at St. Paul's. But I can't, because "I didn't know that" is a statement we continue to hear, even after the "that" was announced in church, the Weekly Update, on a poster, in the Pathway, in the Farmers' Market handout or on the website.<br> 
So we're redoubling our efforts. Thanks to Ken Eastlack's recruitment of several new members of the team, you are hearing more voices in Pathway, and will soon see more activity. <br>
Increased presence on social media, specifically Facebook, was one of the takeaways from a workshop offered by our diocese on Jan. 21 at DaySpring. Ken and I attended Word Out, a communications conference. Bishop Dabney Smith said we have a lot in common with communicators of the early church, i.e., getting the word out about Jesus. They used paintings on walls and a small amount of writing, and our tools are modern, but the message is the same.
Members of the communications team are Nora Broszeit, Tom Connolly, Ken Eastlack, Dan Fisher, Barbara Kling (soon departing, alas), Barbara Metcalfe,  Laura Torrelli and Carol Tracy. By virtue of his position, Fr. Tom is a member of all committees and teams, but is more than just ex officio on the communications team, as he is a prolific contributor. <br>
If you like to write, take pictures, edit, proofread, or know something about graphic design, public relations, advertising or marketing, let's chat.<br>
Tom Connolly, acting chairperson</p>


<h2>Trivia Sunday</h2>

<p>On Sunday January 27, St Paul’s held a fund raiser event for the Tumaini Fund USA.  Seven teams made up of 50 people participated a trivia contest.  Twelve community business owners and eight individuals donated items, gift certificates or services for raffle prizes and our silent auction.  There was lots of good food which was made and donated by a parishioner.  It was a fun afternoon for everyone involved and most importantly we raised $1200.00 for the orphans in the Provence of Kagera in Tanzania.</p>