
  <div class="row">
    <div class="col-md-12 text-center">
    <h1>La communaute Haitienne 'Le St Nom de Jesus'</h1> 
    </div>
    <div class="col-md-8 offset-md-2">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/28.jpg", class: "floatright", width: "250") %>
      <p>La communaute Haitienne "Le St Nom de Jesus" de St Paul's Episcopal Church,  de Naples, Diocese du Sud_Ouest de la Floride vous salue et vous invite a son service hebdomadaire chaque Dimanche a 5:00 Pm, a sa priere en ligne chaque Jeudi  de 9h a 11h Pm(Tel:6417153580. Access number:121960) et a ses differentes activites tout au cours de l'annee. Nous vous souhaitons deja la bienvenue. Rev.Pere Panel Marc Guerrier, Pretre responsible.</p>
      <p>Kominote ayisyin Sen Nom Jezi, Sen Pol Legliz Episkopal, Naples nan Diocez Siddwes Florid la salye nou e invite nou chak Dimanch nan sevis  a 5 e nan apremidi, nan priye nan tel chak jedi a 9 e pou rive onze nan aswe( Tel nan ce 6417155380. Kod la ce 121960) e nan tout lot aktivite pandan ane a. Nou swete tout moune bienvini. Pe Panel Marc Guerrier, Pe ki responsab la.</p>
    </div>
  </div>