
<div class="d-flex justify-content-center">
  <figure>
    <%= link_to cl_image_tag("history_t7dacr.jpg", width: '600', class: "image-center"),  "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1521834023/history_t7dacr.pdf" %>
    <figcaption>
      Click on image to download a pdf of our history, published on the occasion of our Jubilee, celebrated in January 2018"
    </figcaption>
  </figure>
</div>
