<%= cl_image_tag("FamilyTiesPage_m6gbqu.jpg", width:"100%") %>
<h1>1.</h1>   <p>To open the "Family Ties" page, click on "Activities" then on "Family Ties."
</p>
<p>If you're not signed in you will see a form to sign in. If you have registered before, use your name and password to sign in. (Don't register again, please.) If you have not registered, do so now. Remember your password. Write it down somewhere. </p>

<p>Once you are registered, sign in and check the little box by "Remember me."
That will allow you to have your sign-in form populated with your data.</p>

<p>Only those who are signed in can view certain pages on the website. That includes the "Family Ties" page. You can invite others to register and sign in for access if you know they are friends of the parish. </p>

<h1>2.<h1>  <p>If you have filled out your profile and uploaded your picture, it will appear in the box where the No. 2 is. You can now upload photos and make posts and comment on the posts of others.</p>

<p>Only you can edit or delete your posts. In the off chance there are abusive users their accounts will be deleted and all their posts and comments will disappear.  </p>

<h1>3.</h1>  <p>This is where you will find birthdays and anniversaries and information on your profile. This section of your website is still being developed.</p>

<p>If you have any questions or comments or suggestions, call or email Tom Connolly, webmaster and member of the communications team.</p>
