<div class="col-md-8 offset-md-2">
<h1 class=”text-center”>MUSIC DIRECTOR/ORGANIST</h1>
<p>Saint Paul’s Episcopal Church seeks 1/4-time Music Director/Organist for active, community-
oriented, friendly congregation. This beautiful church, in the Episcopal
Diocese of Southwest Florida, has an Allen Digital Computer Organ [ADC]
3100 series organ, (2-manual, 61 note, draw knob console, 31 stops, 25
independent stops, installed in 1985) as well as a Yamaha grand piano.
All-volunteer choir, and extensive library of anthems.</p><p> Salary
commensurate with credentials and experience. Send cover letter and
resume to: St Paul’s Episcopal Church, 3901 Davis Blvd., Naples FL
34104. 239-643-0197. www.saintpaulsnaples.org,
welcome@saintpaulsnaples.org</p>
<p>
The Rev. Dr. Tom Thoeni, Rector</p>
</div>

<%= cl_image_tag("output_yngytv.jpg", quality: "100", alt: "How to apply", 
width: "99%") %>
<h2 class="text-center"><%= link_to "Download the above page as a pdf", 
"https://res.cloudinary.com/saintpaulsnaples-org/image/upload/t_media_lib_thumb/v1665280152/output_yngytv.pdf" %> </h2>