<div class="row">
  <div class="col-md-8 offset-md-2">
  <h3 class="text-center">
ROBERT’S RULES OF ORDER<br>
CHEAT SHEET<br></h3>
<h4 class="text-center">
PREPARED BY FORSMALLNONPROFITS.COM</h4>
<p><strong>
What is “Robert’s Rules of Order?”</strong></p>
<p class="mt-3">
Robert’s Rules of Order is the standard manual used during a “parliamentary” meeting such 
as a board meeting. It is designed so that in every possible contingency you can think of, 
there’s a prescribed way to handle it. Some nonprofit bylaws call out Robert’s Rules of 
Order as the basis for running meetings.</p>
<p>The book was first published in 1876 by Henry Martyn Robert, a U.S. Army colonel. And at 
times… well, you can tell it’s based on the ideas of a nineteenth-century military man.
The entire set of rules is laboriously complex. As an elected official who sits on a legislative 
body that uses Robert’s Rules, I have read a lot (but not all) of the book. And I can tell you, 
without a doubt, it’s boring. I have met only one or two nonprofit board members who have 
even picked up a copy.</p>
<p>There is, thankfully, a “brief” version. It’s still two hundred pages, but that’s a lot shorter 
than the long one. Your nonprofit may wish to buy a copy of the short version and have it at 
the meeting, just to have around on the off chance you need it.</p>
<p>Despite how few people have read the book, Robert’s Rules of Order is the standard basis 
for running meetings. If you’ve served on almost any board, you likely are familiar with the 
gist of it.</p>
<p>What is the point of this old-fashioned system? At its most basic, it prevents meetings of 
groups of people (including unions, political parties, clubs, and associations) from 
descending into chaos. It also provides a structural way to give a dissident a path to make 
their case or, at least, go on record as being against a particular measure.</p>
<p class="text-center mt-3"><strong>PART I—VOTING</strong></p>
<p><em><strong>Motions</strong></em></p>
<p>Here is an overview of how votes are taken under Robert’s Rules of Order, especially as they 
are frequently used by small nonprofits:</p>
<p>First, someone makes a “motion.” A board member could say, “I move to adopt the budget 
as presented.”</p>
<p>The next step: Someone “seconds” the motion. This is what allows the board to consider 
something for a vote. (The board secretary should record the name of the originator of the 
motion.) If no one chooses to second the motion (which is unlikely but possible), it’s 
dropped and nothing happens.</p>
<p>At this point the board discusses the motion. No other business of the board can happen until 
the motion has been resolved. (In Robert’s Rules of Order–speak, the motion is considered 
“privileged.”)</p>
<p class="mt-3"><strong><em>Resolving Motions</em></strong>></p>
<p>How is a motion resolved? Generally by a vote.
After discussion, the board president will say, “Seeing no other questions or comments… all 
those in favor of the motion, please signify by saying ‘Aye.’” Then everyone in favor votes. 
“All opposed, please signify by saying ‘Nay.’” Then everyone against the motion votes. (The 
board secretary records the results.)</p>
<p>In a small board meeting, this kind of voice vote is 
usually enough for the president and the secretary 
to tell whether a vote has passed, and who voted 
on which side. But sometimes it’s not clear. If 
either the president or the secretary is unsure, 
they can ask for a roll-call vote (in which everyone 
gives their vote one at a time) or a show of hands
so there is no confusion.</p>
<p>The two results of the vote are simple to 
understand: a motion can be approved (the 
majority vote for it), or it can be defeated (the majority vote against it, or there’s a tie vote, 
which is also defeats the motion—this is why many boards have odd numbers of people on 
them).</p>
<p>After votes have been counted, the board chair should say something like “The motion 
passes” or “The motion fails” for absolute clarity. No one should be in doubt about what 
happened.</p>
<p>Sometimes, though, a motion can be resolved without a vote if the board votes to “table” it, 
which means the board instead votes to postpone further consideration of the motion until 
a later meeting (or, as can happen, the Board President says “I think it’s clear that we’re not 
ready to consider this today, so let’s move it to another meeting. Does anyone have an 
objection to that?”). Technically, the President can’t do this. But if it resolves a bitter fight 
(which is why the President is likely making the suggestion) many nonprofit boards will 
just let it go. If you want it considered, you’d have to push back at this point and ask for a 
vote to see if people really want to let it go for now.</p>
<p>Robert’s Rules of Order have something like 15 pages on how to “table” a motion, and there 
is specificity about whether it’s coming back at another or just being removed indefinitely. 
Almost no nonprofit I’ve seen uses this. Simply “tabling” a motion (often without a vote as 
in the example above) is a norm.</p>
<p><em>A note on abstention. Sometimes a board president will say, “Abstentions?” 
Someone who has a conflict of interest might voice their name here. Unless you have a specific reason for 
abstaining, you should vote for or against the motion and not sit it out. Even if you don’t like either option, 
voting is part of your job.</em></p>

<p class="text-center"><strong><em>PART II—OTHER ADAPTATIONS OF ROBERTS RULES YOU MAY ENCOUNTER </em></strong>
<p class= "mt-3">In addition to “tabling” motions, nonprofits fudge on Robert’s Rules in some other ways you 
should be prepared for.</p>
<p><em><strong>Discussion before a motion, not after</strong></em></p>
<p>Almost all nonprofits discuss a topic for a while before anyone actually makes a motion on 
it, as opposed to making the motion and then discussing it. The downside of this is that it’s 
easier to get onto other business unrelated to the topic. But so many nonprofits do it, you 
should be prepared for it.</p>
<p><strong><em>“Friendly amendments”</em></strong></p>
<p>There’s no such thing in Robert’s Rules of Orders, but again, it’s common at board meetings 
of small nonprofits. Here’s how it’s used: someone in favor of the motion suggests 
something that would improve the original motion, or make it more palatable to someone 
who is not currently in support.</p>
<p>For example: “I’d like to suggest a friendly amendment, Bob. Where it says, ‘term limits are 
three years long,’ I think we should add the phrase ‘renewable once.’” For some reason this 
is directed to Bob (the person who made the original motion in my example), and Bob can 
choose to accept it, or not. Again: not technically right, but how it often works.
This is workable shorthand for amending a motion. If there have been any amendments 
(friendly or otherwise) to a motion, the board president should always reaffirm the final 
text of the motion being voted upon before calling for the vote.</p>
<p class="text-center mt-3"><strong><em>
PART III—USING ROBERTS RULES OF ORDER TO HELP YOU MAKE MEETINGS BETTER</em></strong></p>
<p>There are two useful tools Roberts Rules of Order gives board members that may help you 
during a meeting. They are rarely used, which means that many nonprofit board members 
may not know of them, but you may find that they help you get a meeting back on track.
“Point of Information.”</p>
<p>A motion is on the table. You can always ask for clarification on what is at stake and what a 
“yes” or a “no” vote means. If you want to do that, you say “Point of Information” and then 
ask your question. You may not actually need to say “Point of Information” in a regular 
meeting, but if things are contentious and you are legitimately asking for information (and 
not arguing under the guise of asking for information), you may want to preface your 
question with this. According to Roberts Rules of Order, it has to be addressed.</p>
<p><strong><em>“Call for the question.”</em></strong></p>
<p>If a debate is going on and on and on, you can “call for the question.” This forces the board 
to decide whether to continue debating or whether to just vote.</p>
<p>Here’s how it’s supposed to work: A vote immediately takes place on whether to continue 
discussion. If two-thirds of the board votes that they are ready to vote on the motion at 
hand, then voting on the motion takes place immediately.</p>
<p>In practice, though, by the time you’re exhausted from debate, so are most other board 
members. If you call for the question, a board will often just get on with the vote on the 
motion.</p>
<p class="text-center mt-3"><strong><em>PART IV—HAVE ALL YOUR RULES AT THE MEETING</em></strong></p>
<p><strong><em>The Rules</em></strong></p>
<p>It’s a good idea for a board to have a single copy of the rules (or the brief version) handy at 
meetings in case something more complex comes up.
<p><strong><em>Your Bylaws Are Also Rules</em></strong></p>
<p>Keep in mind that your bylaws or board policies might have additional rules of procedure 
at a board meeting beyond what is spelled out in Robert's Rules of Order. It's confusing to 
have rules in different places, and I would generally recommend against having something 
so specific in your organization's bylaws. But familiarize yourself with the bylaws to see if 
there are any extra rules of order.</p>
<p>If this has been helpful, please visit forsmallnonprofits.com to read more about making 
boards work better or check out <%= link_to "The Little Book of Boards: A Board Member’s Handbook 
for Small (and Very Small) Nonprofits.", "https://www.forsmallnonprofits.com/" %></p>
  </div>
</div>