<h1><%= link_to "Click here to learn about Sacred Ground", "https://www.episcopalchurch.org/sacred-ground/" %></h1>
<h1><%= link_to "Sign up for Sacred Ground series at St. Paul's", new_participant_path %></h2>


<%= link_to 'Back', root_path %>
