<div class="container">
  <div class=row>
    <div class="col-md-8 offset-md-2">
     <h1 class="text-center">Stay safe!</h1>
     <p>
This morning I awake to find the day has brought news that two cases of Covid 19 have not only occurred in our state but actually within our diocese.  Also, I seem to be coming down with a cold of some sort.  Instead of worrying or succumbing to anxiety I am choosing to make informed decisions and stay calm.  I encourage us all to do the same as this flu season continues to unfold.  
</p><p>
There are several things I would like to stress as we walk through this peculiar time.
</p><p>
Flu season is always a concern, especially for those who are most at risk:  those with existing health problems, the very young and the elderly.  Any infection can be troublesome and problematic  with these populations.  Covid 19 is simply a named focus that seems to be getting inordinate attention.  I have long believed that, though we live in a 24-hour news society, most of our news sources do not have 24 hours worth of news to report.  No matter which source of news we choose, more often than not the stories are frequently repeated and examined to extremes degrees.  Soon facts are replaced by speculation and opinion which can lead to all manner of trouble.  
</p><p>
Below are a few thoughts to consider.  I have asked a friend of mine who is a nurse with the University of South Florida, well versed in community health and public health issues, to fact check these thoughts and to add any information that will be helpful.
</p><p>
<strong>Expect to hear that the infection rate is rising</strong><br>
This is not necessarily news that the cases are increasing but that our awareness of them is.  The availability of test kits are increasing and so the number of confirmed cases of Covid 19 will increase.  This simply means we will know of more cases.  It does not necessarily mean the number of cases is increasing.
</p><p>
<strong>Masks</strong><br>
Masks are reasonably effective in reducing the spread of a virus if you are infected.  They are not effective in preventing the contracting of the virus.  In short, masks are going to be very helpful and may even be problematic.
</p><p>
<strong>Shaking hands</strong><br>
Hands are one of them most infectious parts of our body.  There is a reason we teach our children to wash their hands before they eat (more on that below).  Shaking hands can be quite infectious.  Many are practicing fist bumps instead.  Frankly, even that can be infectious when you consider that the top of your hands often are in contact with your face.  I have heard of elbow shakes being common now.  The most creative, and in my mind, least infectious way of greeting is being practiced in Iran:  foot shaking.  People are tapping their feet together as a way of greeting.  What ever your practice, perhaps a warm greeting and hospitable nod is enough.
</p><p>
<strong>Keep your distance and cover your coughs and sneezes</strong><br>
Virus are often spread through the air.  Someone coughing can release germs.  Reports are that 3-6 feet is a safe distance to be kept.  However, sneezing can send virus even further.  Many people will cough or sneeze into their hands.  A better choice is to use the crook of your inner elbow.  This lessens the amount of germs on your hands.
</p><p>
<strong>Wash your hands!</strong><br>
According to a study published by the American Journal of Preventive Medicine in 2001, washing your hands five times a day can reduce the infection rate of respiratory illness by 45%.  It is a simple and easy way of guarding our health.  It is, perhaps, the best way to prevent receiving or spreading viruses.  Soap breaks down the fatty coating of virus cells and allows water to wash them away and off our hands.  Effective hand washing should include between the fingers and under the fingernails and last for about 20 seconds.  Hand sanitizer is effective IF the alcohol concentration is at least 60% but hand washing is the best practice.
</p><p>
<strong>Avoid touching your face</strong><br>
In 2015 the National Center for Biotechnology Information published a study of medical student in New South Wales about how often they touched their faces. The results were stunning:  
</p><p>
On average, each of the 26 observed students touched their face 23 times per hour. Of all face touches, 44% (1,024/2,346) involved contact with a mucous membrane, 
whereas 56% (1,322/2,346) of contacts involved nonmucosal areas. Of mucous membrane touches observed, 36% (372) involved the mouth, 31% (318) involved the nose, 
27% (273) involved the eyes, and 6% (61) were a combination of these regions.
</p><p>
Oftentimes we are not even aware that we are touching our face.  It is rather self-explanatory why this can be a problem.
</p><p>
<strong>Communion</strong><br>
Many people worry about the common cup at Communion.  Over the years many, many studies have be done about the risk of receiving Communion for a common cup.  The repeated results are that the risk of infection from a common Communion cup is insignificant.  Many practice intinction, or the dipping of the wafer into the cup.  Surprisingly this is the least safe way to receive Communion either for you or for others.  Consider the process of intinction, particularly those who dip the wafer into the chalice themselves:  They receive the wafer into the palm of their hands where it sits for a period of time.  It is handled by both hands which may or may not be clean, it is then dipped into a cup and whatever germs may be on the wafer are likely released into the cup.  If receiving Communion from a common cup is worrisome please know that simply receiving the bread is considered full Communion.  Incidentally, I have been a priest for 25 years.  Before I was a priest I worked as a teller.  To the best of my knowledge I have never gotten sick from the chalice, even though I finish the wine after everyone has received Communion.  But the first year I was a teller I was sick four times from handling money.  It was at that time I became very attentive to washing my hands.  
</p><p>
<strong>What about the priests’ hands?</strong><br>
This past Sunday, before the celebration of the Eucharist, I left the sanctuary to wash my hands.  While important in this season, I found it peculiar.  Instead I have worked with the head of the Altar Guild to develop a more novel approach.  As a part of preparing to celebrate the Eucharist there is a ceremonial washing of the hands before handling the holy items of God.  It seems to me that simply replacing the water used with isopropyl alcohol will allow me to not only ceremonially cleanse my hands but effectively clean my hands of germs.  I have also taken effort to place effective hand sanitizers around the parish.  There are some already here and there but they are likely expired.  For instance, the bottle we use in the office expired in 2013!  We will make new hand sanitizers available in more places starting this week.
</p><p>
<strong>Stock up?</strong><br>
There is an outside possibility that this may turn into a significant disruption in our daily lives.  Panic is never a good response. Careful preparation always is. I suggest we approach this as if we are facing a storm.  Now, while things are normal, consider buying some staples and supplies that will allow you to “hunker down” for a period of time should you choose to stay at home.  I have also begun considering how we might stay in touch electronically, and even exploring the possibility of streaming services if needed.  I am hopeful that such efforts will not be needed but I am seeking to be able to respond rather than react.
</p><p>
<strong>Take a deep breath and be of good cheer</strong><br>
Consider the words that Paul wrote to Timothy:  for God did not give us a spirit of cowardice, but rather a spirit of power and of love and of self-discipline.  As in most things, common sense, confidence in God, and simple actions will likely be our best practices.  
</p>
</div></div></div>