<div class="row">
  <div class="col col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div><%= cl_image_tag("tumainiDresses_p5jvk1.jpg", width: "65%", class: "image-center") %>
      <h1>Tumaini dresses given a blessing</h1>
      <p>Fr. Tad is presented several dresses sewn by the women of St. Paul's and intended for the girls at an orphanage in Tanzania, one of the ten poorest of Africa's countries. From left are Linda Conden, who brought the dresses forth with Marion Kennedy (hidden by the dresses); Sarah Jane Allen and Dr. Susan Wilson of the Tumaini Fund; and Fr. Tad.</p>
      <p>Dr. Wilson and Sarah Jane Allen spent a week in Naples, away from their homes in England, to speak about the mission Dr. Wilson  founded at Kagera, Tanzania. She spoke  at both services at St. Paul's on March 12.</p>
 
<h1>Dr. Susan Wilson, founder and CEO of the Tumaini Fund</h1>
<%= cl_image_tag("DrWilson_ehouu3.jpg", class: "floatright", width: "60%") %>


<p>Dr. Wilson’s mission work in Tanzania, one of the ten poorest countries in the world, started in 2001 when she and her family spent four months in Kagera, in the northwest province of Tanzania. She and her husband worked as medical doctors in a local hospital and were shocked at the abject poverty there. They were even more shocked at the desperate times faced by AIDS widows and orphans, a result of the widespread raping of women by the Rwandan, Burundian and Ugandan militia in the 1990s.</p> 
<p>It was estimated that there were 200,000 orphans at that time. She has dedicated herself to helping those widows and orphans through the non-profit organizations Tumaini Fund UK, established in 2003, and the Tumaini Fund USA, established in 2009, Tumaini Fund Scotland and Tumaini Fund Canada. </p>

<p>As of 2016, 25,000 orphans are being provided the basic necessities of life by these non-profits. Tens of thousands more still need help. The immediate goal is to extend the support now provided to those 25,000 orphans within Kagera to all the remaining orphans in the AIDS crisis of this region. This support consists of:</p>
<p>1.   Adult head-of-family; decent housing; improved farming and nutrition.</p>
<p>2.   AIDS testing and treatment.</p>
<p>3.   Income-generation - microfinance projects and education to the level each child can achieve.</p>
<p>4.   Clean water and hygienic sanitation.</p>
<p>5.   Improving the vehicular capability, in a remote, mountainous region where most driving is off-road.</p>
 
<p>Dr. Wilson was given the <em>Most Excellent Order of the British Empire</em> (MBE) award by Prince William in 2013 for her outstanding service to alleviate the suffering of so many people in Kagera.</p>
<h1>                                         
Sarah Jane Allen, director of Tumaini Fund</h1>
<p>Sarah also lives in Guernsey, where she is very active in her Anglican Church, St. Saviours. She is with Dr. Wilson, helping to promote and inform about the fund. She serves on the Tumaini Fund Board of Directors in Guernsey. She is fluent in Spanish, French, and Portuguese, and also speaks some Swahili.</p>
<p>“I first met Dr. Wilson in early 2005 when she visited St. Saviours church to talk about the work of Tumaini and have been involved ever since. I travel to Kagera every year, sometimes twice a year, for field work with a particular interest in education, orphan sponsorship and the female hygiene kit programs."</p>
<p> Sarah says her greatest achievements are the countless numbers of orphans who have benefited from different projects over 13 years. "You see appreciation in the face of every child and every orphan who volunteers at Tumaini’s offices - many do - to help their brothers and sisters, clean water wells in areas of desperate drought, entrepreneurial spirit among widows running community ventures and the growing number of connections between supporters, volunteers, knitters, crafters around the world and the orphans so far away."</p>
<p> She is planning to visit Kagera later this year with a BBC journalist.</p>
    </div>
  </div>
</div>