
<h1>Learn the Way of Love this Lent</h1>
<div class="container">
  <div class="row">
    <div class="text-center">

  <h2>Way of Love</h2>
    <p>Use this lent (Ash Wednesday is Feb. 26) to draw closer to God and live a Jesus-centered life. Join the Rev. Dr. Mary Abrams, our deacon, on either Wednesdays at 6:30 p.m. beginning Feb. 19 or Sundays between the services. Get acquainted with the material by watching the video below, featuring the Most Rev. Michael Curry, presiding bishop of the Episcopal Church. All are welcome!</p>
   <div class="mt30"></div>
  <div class="iframe">
    <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/jroyof2vje" width="550" height="350"></iframe>
  </div>
  <div class="mt30"></div>
  <div class="love-image">
    <figure>
    <%= link_to cl_image_tag("Way_of_Love_Primary_Graphic_pmc86u.jpg", width:"100%"), "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1582034015/Way_of_Love_Primary_Graphic_kllhuk.jpg" %>
    <fig-caption> <p class="text-center">Click to enlarge</p></fig-caption>
    </figure>
  </div>
</div></div></div> <!-- col, row, container -->