<div class="formation-box">
  <%= cl_image_tag("Tad_Ann_scaled_gam5lm.jpg", width: '100%',) %>
    <h2>Presented by the Rev. Ann Stevenson and the Rev. Dr. Tad Meyer, husband and wife priests of the<br> Episcopal Church </h2>
</div>