<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= story.body %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= story.user.username %>
  </p>
</div>