<p> <%= link_to "Click here", @url %>
to view the post and comment in St. Paul's "Family Ties."</p>


<div class="mt-5"></div>

<p>This message is generated automatically when a comment has been created on an article posted in St. Paul's "Family Ties" website feature. </p>
