<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

     <iframe width="560" height="315" src="https://www.youtube.com/embed/T4dvkaFj6t4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-10 offset-lg-1">
      <h1>Saint Paul's Farmers' Market</h1>
      <h4>(Satudays, Mid-November to mid-April, 8 a.m. to noon) </h4>
        <p>The market is a ministry of goodwill, hospitality, rejoicing and gratitude,
        as we offer our neighbors not just acceptance, but a "glad you're here"
        and an opportunity to enjoy being with family, friends and pets as all enjoy together
        the goodness of God's creation, from the beautiful outdoors and the music of church bells
        to food to flowers to the creativity which is God's gift to humankind. </p>
        <p>Our market is a wonderful outreach and gift to our community, that says, "God's place is a good place to be."  </p><p>
        It is also an outreach to vendors that helps them make a better living for themselves and their families.
        The market and its related activities also bring very significant economic benefit to St. Paul's, although
        the charge for renting a vendor space is very, very reasonable.  We want them to do well.</p>
         <p>We try very hard to retain the farmers' market image that we value such as by limiting crafts, etc.
         We encourage civic organizations with free space, like the Humane Society, the Shelter for Abused Women, The Salvation Army, to make us aware of their services. </p>
         <p>That especially serves to remind us of our community service role here at St. Paul's.</p>
        <h2>If you would like to help us</h2>
          <p>Here is where we need your help.  "Parking consultants":  There are two shifts (7:30 a.m.
           'til 9:30 a.m. or 9:30 a.m. 'til 11:30 a.m.) Or we can use your help for a lesser period of 
           time. Speak to Peter Lund or Jim Crosby at the market or at church Sunday morning.
          </p>
    </div>
  </div>
</div>
