<p>Hello <%= @resource.first_name.titleize %>!</p>

<p>If you requested a link to change your password, you can click this link. When you enter a password, it is encripted in a way that it cannot be translated back into readable form, so your original password can't be show to you. You will be entering a new password when you make the link. </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
