<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-md-2">

<h1>Upcoming activities at St. Paul's</h1>
<p><strong>Read on, friends, but take note that activities involving close physical gathering are suspended until the health threat is diminished. Leaders of activities that are now open will insure that proper distancing is maintained.</strong> </p> 
<h2>Episcopal Church Women</h2>
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/ecwLogo.jpg", class: "floatright", width: "150") %>
<p>ECW includes all women of the church, and supports and organizes many activities that enhance the social and spiritual lives of everyone in the community. ECW meets on the first Wednesday of October through May, at 9:30 a.m. </p><p>ECW is responsible for our wonderful Gift Shop, run by Susan Larson, Marilyn Perry and their volunteers; and the Unique Boutique, run by Donna Nidds and volunteers.
</p>
<h1>Other Activities at St. Paul's</h1>

<p><em><b>AA Young Adults</b></em> meet Wednesdays at 6:30 p.m. in Trinity Hall.

<p><em><b>God's Gardeners</b></em>  Thursdays approximately 7:30 a.m. to noon. Group works on the church grounds and facilities inside and out, men and women welcome, meet in the church parking lot.</p> 

<h2><%= link_to "For Spiritual Activities, click here", worship_index_path %></h2>

</div></div></div>
