<div class="row">
  <div class="col-md-6 offset-md-3">

<h1>Spiritual studies series</h1>
<p>Join us, either Wednesday evenings or Sundays between 
the services, studying and discussing the Gospel of Matthew. For the first session, (Jan. 8 or Jan. 12) read the first two chapters of Matthew.</p>
<p>Fr. Tom leads in a meaningful conversation about the spiritual meanings of the gospel and how it is applicable in our lives today. Wednesday class starts at 6:30 p.m., and Sunday class is at 9 a.m.</p>
<p>Both sessions are in the library of Serson Hall. </p>

  </div>
</div>