<h1>An invitation from Fr. Bill</h1>
<h3>Dear Patty,</h3>
<p>
You have undoubtedly heard by now that the Vestry is looking at a variety of things as we plan for St. Paul’s future. As a faith community we show many vital signs of heath. At the same time it is clear that we are growing older each year.</p> 
<p>We may have to make some adjustments to attract sufficient new members to sustain a vital worshiping community. This long-range planning will take place over the next eighteen months or so.  We hope to have it fully in place by our 50th anniversary, December 3, 2017!</p>
<p>The vestry is committed to involving the whole parish in each step of the process so that we can go forward into our future together!</p>
 <p>One of the first steps is to discover what you like about the worship service you currently attend and what you would like to see added or changed. We also would like to find out your initial response to some possible changes the Vestry is considering. These changes include such things as: 1) moving time or day of your service;  2) combining your service with another existing service to provide space for:  a) a more “contemporary” service or b) a dedicated time for fellowship and more choices of Christian Formation than we currently offer. </p>
 <p>  
We have developed a short survey which we would like you to fill out. Your responses will remain anonymous. We hope a high percentage of our membership will respond so that what emerges is an accurate picture of the sense of how  the entire membership feels now about what we are currently doing and how we might respond to any proposed change. </p>
<p>
Let me again assure you that: 1) no major changes are planned to be made prior to our 50th anniversary celebration in December 2017;  and 2) the entire membership will be given opportunity to raise questions and express their views to any proposed changes at a series of town meetings to be held during high season (January–March 2017). At those meetings the vestry will present their rationale for any proposed change. Final decisions will be made after these meetings have been held.</p>
<p>
Times of transitions can be both filled with excitement and anxiety. I ask that you keep our Vestry and me in your prayers as we seek to lead the congregation in this process of discernment. I’m confident that as we pray together the Holy Spirit will lead us into a glorious future that will match or exceed the significant history St. Paul’s has experienced to date.</p>
